@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
@-webkit-keyframes fillIntro {
  from {
    r: 0;
  }
  to {
    r: 1366px;
  }
}
@keyframes fillIntro {
  from {
    r: 0;
  }
  to {
    r: 1366px;
  }
}

@-webkit-keyframes showIntroText {
  from {
    right: -100%;
  }
  to {
    right: 5%;
  }
}

@keyframes showIntroText {
  from {
    right: -100%;
  }
  to {
    right: 5%;
  }
}

@-webkit-keyframes fromTopRightCorner {
  from {
    opacity: 0;
    top: 0px;
    right: 0px;
  }
  to {
    opacity: 1;
    top: 25px;
    right: 68px;
  }
}

@keyframes fromTopRightCorner {
  from {
    opacity: 0;
    top: 0px;
    right: 0px;
  }
  to {
    opacity: 1;
    top: 25px;
    right: 68px;
  }
}

@-webkit-keyframes toTopRightCorner {
  from {
    opacity: 1;
    top: 25px;
    right: 68px;
  }
  to {
    opacity: 0;
    top: 0px;
    right: 0px;
  }
}

@keyframes toTopRightCorner {
  from {
    opacity: 1;
    top: 25px;
    right: 68px;
  }
  to {
    opacity: 0;
    top: 0px;
    right: 0px;
  }
}

@-webkit-keyframes openBurger {
  from {
    margin-top: -150px;
  }
  to {
    margin-top: 0px;
  }
}

@keyframes openBurger {
  from {
    margin-top: -150px;
  }
  to {
    margin-top: 0px;
  }
}

@-webkit-keyframes closeBurger {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: -150px;
  }
}

@keyframes closeBurger {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: -150px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

body {
  background: #202020;
  font-size: 1.25em;
  font-weight: 600;
  padding-top: 64px;
  color: #202020;
}

body a {
  text-decoration: none;
  color: #202020;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  width: 100%;
  background: linear-gradient(135deg, #01ffcd 0%, #00ff00 100%);
  padding: 20px 5%;
}

header a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

header a:hover {
  text-shadow: 0 0 15px #202020, 0 0 20px #202020;
}

header .navs {
  list-style: none;
}

header .navs li {
  display: inline-block;
  padding: 0 30px;
}

header #discord {
  width: 135px;
}

header #discord div {
  float: right;
  background: #7289DA;
  width: 100px;
  height: 35px;
  padding: 5px 10px;
  border-radius: 20px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  position: relative;
}

header #discord div i {
  float: left;
  left: 15px;
  position: absolute;
  cursor: pointer;
  top: 8px;
  color: white;
  opacity: 0;
  font-weight: initial;
}

header #discord div a {
  color: white;
  float: right;
}

#intro {
  position: relative;
}

#intro h1 {
  position: absolute;
  font-size: 5vw;
  top: 2.5%;
  left: 5%;
}

#intro p {
  position: absolute;
  color: #FFFFFF;
  font-size: 4vw;
  top: 52%;
  right: 5%;
  text-align: right;
  width: 100%;
  height: auto;
}

#intro p #sicily {
  background: linear-gradient(45deg, #fff100 50%, #ed141e 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#intro p #italy {
  background: -webkit-gradient(linear, left top, right top, color-stop(33%, #009246), color-stop(33%, #ffffff), color-stop(64%, #ffffff), color-stop(64%, #ce2b37));
  background: linear-gradient(90deg, #009246 33%, #ffffff 33%, #ffffff 64%, #ce2b37 64%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section {
  margin: 5vw 2.5%;
}

.tit {
  margin: 30px 0;
  text-align: center;
  font-size: 2.5em;
}

#about {
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-column-gap: 50px;
          column-gap: 50px;
      grid-template-areas: "aboutcont aboutsvg";
}

#about #aboutcont {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aboutcont;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content;
  row-gap: 30px;
      grid-template-areas: "moreabout" "pchw";
}

#about #aboutcont #moreabout {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: moreabout;
}

#about #aboutcont #pchw {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: pchw;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 5px solid transparent;
  display: inline-block;
  position: relative;
  padding: 10px 30px;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#202020)) padding-box, -webkit-gradient(linear, left top, right top, from(#01ffcd), to(#00ff00)) border-box;
  background: linear-gradient(#202020, #202020) padding-box, linear-gradient(to right, #01ffcd, #00ff00) border-box;
}

#about #aboutcont #pchw #info {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  cursor: pointer;
  border-radius: 0 10px 0 20px;
  background: lime border-box;
}

#about #aboutcont #pchw #info i {
  color: #202020;
  margin: 10px;
}

#about #aboutcont #pchw #iconsby {
  position: absolute;
  border-radius: 20px;
  top: 25px;
  right: 68px;
  opacity: 0;
  border: 5px solid transparent;
  padding: 15px;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#202020)) padding-box, -webkit-gradient(linear, left top, right top, from(#01ffcd), to(#00ff00)) border-box;
  background: linear-gradient(#202020, #202020) padding-box, linear-gradient(to right, #01ffcd, #00ff00) border-box;
}

#about #aboutcont #pchw #iconsby a {
  background: -webkit-gradient(linear, left top, right top, from(#01ffcd), to(#00ff00));
  background: linear-gradient(to right, #01ffcd 0%, #00ff00 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about #aboutcont #pchw #iconsby::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: lime transparent transparent transparent;
  top: 15%;
  right: -20px;
  margin-top: -10px;
}

#about #aboutcont #pchw p:first-child {
  font-size: 2em;
  font-weight: 700;
  margin: 5px;
}

#about #aboutcont #pchw p:last-child {
  font-weight: 700;
  font-size: 1em;
  margin: 5px;
}

#about #aboutcont #pchw p {
  padding: 5px;
}

#about #aboutcont #pchw img {
  vertical-align: middle;
}

#about #aboutsvg {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: aboutsvg;
}

#favgamemobile {
  color: white;
  border: 5px solid transparent;
  border-radius: 20px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#202020)) padding-box, -webkit-gradient(linear, left top, right top, from(#01ffcd), to(#00ff00)) border-box;
  background: linear-gradient(#202020, #202020) padding-box, linear-gradient(to right, #01ffcd, #00ff00) border-box;
}

#favgamemobile img {
  width: 100%;
  height: auto;
}

#favgamemobile div {
  padding: 20px;
}

#favgame {
  color: white;
  border-radius: 10px;
  position: relative;
  height: 800px;
  max-width: 100%;
  overflow: hidden;
}

#favgame #game {
  background: url("../images/RocketLeague.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#favgame #game:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

#favgame #bgtext {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50px 50px 0 0;
  padding: 25px;
  background: rgba(32, 32, 32, 0.75);
}

#favgamemobile a, #favgame a {
  background: -webkit-gradient(linear, left top, right top, from(#0f1d2f), to(#178dbb));
  background: linear-gradient(90deg, #0f1d2f 0%, #178dbb 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#skills {
  color: white;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "skillsvg skillcont";
}

#skills #skillsvg {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: skillsvg;
}

#skills #skillcont {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: skillcont;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content;
  row-gap: 50px;
      grid-template-areas: "moreskill" "langskills";
}

#skills #skillcont #moreskill {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: moreskill;
}

#skills #skillcont #langskills {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: langskills;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#skills #skillcont #langskills .skillcircle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 25px;
  margin: 25px 10px;
}

#skills #skillcont #langskills .skillcircle .lang {
  text-align: center;
  margin-bottom: 10px;
}

#skills #skillcont #langskills .skillcircle .perc {
  top: 52.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
}

#skills #skillcont #langskills .skillcircle .skillbar {
  width: 125px;
  height: 125px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#projects {
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr;
      grid-template-columns: 1fr 0.5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "projectsleft projectsvg";
  -webkit-column-gap: 50px;
          column-gap: 50px;
  margin-bottom: -5vw;
}

#projects #projectsleft {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: projectsleft;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: max-content max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content max-content;
      grid-template-areas: "projectstitle" "projectsgrid" "github";
  justify-items: center;
}

#projects #projectsleft #projectstitle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: projectstitle;
}

#projects #projectsleft #projectsgrid {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: projectsgrid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#projects #projectsleft #projectsgrid .projectblock {
  margin: 3vw 10px;
}

#projects #projectsleft #projectsgrid .projectblock .name {
  background: yellow;
  width: 345px;
  height: 40px;
  background: linear-gradient(135deg, #01ffcd 0%, #00ff00 100%);
  -webkit-clip-path: polygon(60% 0, 75% 90%, 100% 90%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(60% 0, 75% 90%, 100% 90%, 100% 100%, 0 100%, 0 0);
}

#projects #projectsleft #projectsgrid .projectblock .name a {
  margin-left: 10px;
  vertical-align: middle;
  line-height: 40px;
  cursor: pointer;
  text-decoration: none;
}

#projects #projectsleft #projectsgrid .projectblock .info {
  color: white;
  border: 4px solid transparent;
  border-top: 0px;
  padding: 15px;
  background: linear-gradient(#202020, #202020) padding-box, linear-gradient(135deg, #01ffcd, #00ff00) border-box;
  width: 345px;
  height: 130px;
}

#projects #projectsleft #projectsgrid .projectblock .info a {
  background: -webkit-gradient(linear, left top, right top, from(#01ffcd), to(#00ff00));
  background: linear-gradient(to right, #01ffcd 0%, #00ff00 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#projects #projectsleft #projectsgrid .projectblock:nth-child(1) a:last-of-type, #projects #projectsleft #projectsgrid .projectblock:nth-child(2) a:last-of-type, #projects #projectsleft #projectsgrid .projectblock:nth-child(6) a:last-of-type {
  text-decoration: none;
  cursor: pointer;
}

#projects #projectsleft #github {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: github;
}

#projects #projectsleft #github a {
  background: radial-gradient(circle, white 0%, white 35%, black 36%, black 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#projects #projectsvg {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: projectsvg;
}

@media screen and (max-width: 767px) {
  #burger {
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#01ffcd), to(#00ff00));
    background: linear-gradient(90deg, #01ffcd 0%, #00ff00 100%);
    color: #202020;
    font-weight: initial;
    padding: 20px 5%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    z-index: 20;
  }
  #home, #discord, header {
    display: none;
  }
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    border: 3px solid transparent;
    border-top: 0;
    margin-top: -150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 10;
    border-radius: 0 0 10px 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#202020)) padding-box, -webkit-gradient(linear, left top, right top, from(#01ffcd), to(#00ff00)) border-box;
    background: linear-gradient(#202020, #202020) padding-box, linear-gradient(to right, #01ffcd, #00ff00) border-box;
  }
  header a {
    color: white !important;
  }
  header li {
    display: block !important;
    text-align: center;
    padding: 10px 0 !important;
  }
  #favgame {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  header {
    z-index: 10;
    position: fixed;
    top: 0;
  }
  #burger, #favgamemobile {
    display: none;
  }
}

@media screen and (max-width: 1919px) {
  #about, #skills, #projects {
    display: initial !important;
  }
  #aboutsvg, #skillsvg, #projectsvg {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */