* {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 16px;
	text-align: center;
}

html { 
	background: url("../img/wallpaper.jpg");
	background-size: 100% 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
}

.hero { margin-top: -24px; }

.my-card-picture { padding-top: 2rem; }

.is-horizontal-center { justify-content: center; }

.my-card, .twitch-card, .comps-card, .git-card, .skills-card, .projects-card { 
	position: relative;
	border-radius: 10px;
	max-width: 100%;
	min-width: 375px;
	background-color: rgb(30, 30, 30);
	box-shadow: 10px 10px 20px rgba(0,0,0,0.25), 6px 6px 6px rgba(0,0,0,0.50);
}

#twitchicon, #giticon, #gitnick, #streamer, #streamerviews, #streamerfollowers, 
#streamerplaying, #gitfollowers, #gitfollowing, #gitrepos { float: left; }

.my-card-picture img {
	width: 128px;
	height: 128px;
}

#twitchicon { border: 2px solid rgb(60, 45, 90); }

#giticon { border: 2px solid white; }

#giticon, #twitchicon {
	width: 100px;
	height: 100px;
}

#gitorg { 
	width: 64px; 
	height: 64px;
	position: absolute;
	bottom: 20px;
	right: 50px;
}

.skills-card { margin-top: 24px; margin-bottom: 24px; }

.projects-card { margin-top: 24px; }

.my-card-picture img, .icon { border-radius: 50%; }

.icon { width: 30px; height: 30px; }

#twitchicon, .comp, .icon { vertical-align: middle; }

#twitchicon, #giticon { border-radius: 10px; }

.comp { margin-bottom: 5px; }

#gitfollowers, #gitfollowing, #gitrepos { margin-top: -25px; }

#streamerviews, #streamerfollowers, #streamerplaying { margin-top: -20px; }

#gitnick, #streamer { font-weight: bold; font-size: 18px; }

#streamer, #streamerviews, #streamerfollowers, #streamerplaying, 
#gitfollowers, #gitfollowing, #gitrepos, #gitnick { margin-left: 10px; }

.about {
	margin-top: 18px;
	margin-bottom: 18px;
	display: block;
}

.sub {
	font-size: 28px;
	margin-top: -30px;
	margin-bottom: -10px;
	font-weight: bold;
}

.tit { 
	font-size: 32px; 
	font-weight: bold;
	margin-top: -6px;
	margin-bottom: -6px;
}

#myname {
	margin-top: -15px;
	margin-bottom: 40px;
}

#myname, .sub, .about, .tit {
	color: rgb(0, 215, 170);
	text-shadow: 1px 1px 0 #252525, 
               2px 2px 0 #252525,
               3px 3px 0 #252525,
               4px 4px 0 #252525,
               5px 5px 0 #252525,
               6px 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               1px 1px 3px rgba(0,0,0,.3),
               3px 3px 5px rgba(0,0,0,.2),
               5px 5px 10px rgba(0,0,0,.25),
               10px 10px 10px rgba(0,0,0,.2),
               20px 20px 20px rgba(0,0,0,.15);
}

.progress-wrapper { position: relative; }

.progress-value {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(1rem / 1.15);
  line-height: 1rem;
	font-weight: bold;
	color: #252525;
}

#discordicon {
	position: absolute;
	top: 10px;
  left: 10px;
	width: 32px;
	height: 36px;
	filter: drop-shadow(4px 4px 0 #5B6DAE);
	-webkit-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}

#discordicon:hover {
	top: 12px;
	left: 12px;
	filter: drop-shadow(2px 2px 0 #5B6DAE);
	-webkit-transition: all 0.10s linear 0s;
	transition: all 0.10s linear 0s;
}

#discordicon:active {
	top: 14px;
	left: 14px;
	filter: drop-shadow(0 0 0 #5B6DAE);
	-webkit-transition: all 0.10s linear 0s;
	transition: all 0.10s linear 0s;
}