* {
	font-family: Roboto, sans-serif;
	color: black;
	font-size: 16px;
}

html {
	background-image: url('../img/rainbow_space.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
}

.my-card, .my-card-picture img, #discord, 
.steam-card, .git-card, .yt-card { box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23); }

.steam-card, .git-card, .yt-card, .my-card { 
	position: relative;
	border-radius: 10px;
	max-width: 100%;
}

.my-card { background-color: rgb(114, 137, 218); }

.steam-card, .git-card, .yt-card { background-color: rgb(30, 30, 30); }

.steam-content p, .git-content p, .yt-content p { color: white; }

#steamicon, #giticon {
	overflow: hidden;
	border-radius: 10px;
	float: left;
	vertical-align: middle;
	width: 76px;
	height: 76px;
}

#steamlevel {
	border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 4px;
  border: 2px solid rgb(100, 100, 100);
	text-align: center;
	margin-left: 84%;
	margin-top: -28px;
}

.my-card-picture img {
	border-radius: 50%;
	width: 128px;
	height: 128px;
}

#discord {
	margin-top: 21px;
	border-radius: 10px;
	margin-bottom: 14px;
}

.yt-card { margin-top: 24px; }

.git-content, .steam-content { height: 76px; }

#giticon { border: 2px solid white; }

#steamnick, #steamlogoff, #steamdate { 
	float: left;
	margin-left: 5px;
}

#steamlogoff {
	margin-top: -3px;
	font-size: 14px;
}

#steamdate {
	margin-top: -7px;
	font-size: 12px;
}

.gitlink { font-size: 14px; }

#gitnick {
	font-size: 16px !important;
	margin-left: 25% !important;
}

#gitfollowers, #gitfollowing, #gitrepos, #gitnick { 
	font-size: 14px;
	margin-left: 5%;
	text-align: center;
	float: left;
}

#favyt {
	color: white;
	font-weight: bold;
}

.redbra { color: rgb(225, 0, 0); }

#yticon {
	overflow: hidden;
	width: 92px;
	height: 92px;
	border-radius: 10px;
	border: 2px solid rgb(225, 0, 0);
}

#ytnick {
	margin-top: -90px;
	margin-left: 95px;
	margin-bottom: 5px;
	text-align: center;
	font-weight: bold;
}

#ytinfos {
	overflow: hidden;
	margin-left: 80px;
}

#ytsubs, #ytvideos, #ytviews, #ytsince { 
	font-size: 14px;
	margin-left: 6%;
	text-align: center;
	margin-bottom: 10px;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.comp {
	vertical-align: middle;
	margin-bottom: 5px;
}

.icon {
  vertical-align: middle;
  border-radius: 50%;
}

.my-card-picture { padding-top:2rem; }

.is-horizontal-center { justify-content: center; }

.press { font-size: 12px; }
