@import 'tailwindcss';
@import '@nuxt/ui';

@plugin "@tailwindcss/typography";

@theme static {
  --font-sans: 'Space Grotesk', sans-serif;
}

:root {
  --ui-radius: 0.35rem;
}

@layer base {
  body {
    background-image: radial-gradient(circle at 2px 2px, var(--ui-bg-accented) 1px, transparent 0);
    @apply leading-relaxed bg-size-[16px_16px] bg-default;
  }
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    font-size: 12px;
    margin: 0 !important;
    padding: 0 !important;
    background-image: none !important;
    @apply bg-white text-black;
  }

  @page {
    margin: 1rem;
  }

  .no-print {
    display: none !important;
  }

  .print-break {
    page-break-before: always;
  }

  .print-avoid-break {
    page-break-inside: auto;
    break-inside: auto;
  }

  .print-allow-break {
    page-break-inside: auto;
    break-inside: auto;
  }

  * {
    box-shadow: none !important;
    @apply text-black;
  }

  a {
    color: inherit !important;
    text-decoration: none !important;
  }

  .max-w-4xl {
    max-width: none !important;
  }

  [data-reka-popper-content-wrapper] {
    display: none !important;
  }
}
